<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!--
  <localRepository>D:\Java\Maven\Repository</localRepository>
  -->

  <!--
  <proxies>
    <proxy>
      <id>Proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.corp</host>
      <port>18080</port>
      <nonProxyHosts>localhost</nonProxyHosts>
    </proxy>
  </proxies>
  -->

</settings>

